* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: #fff;
}
body {
    height: 100%;
    width: 100%;
    background-color: #3a3838;
}
.parent{
    height: 100vh;
    width: 100vh;
}
.card{
  width: 300px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
  margin: 20px 20px;
}
.card img{
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}
.card p{
  margin: 20px 0;
}
.card button{
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}
.card1{
    height: 400px;
    width: 300px;
    background-color: #6d6d6d;
    border-radius: 30px;
    margin: 25px;
}