* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: #fff;
}
body {
    height: 100%;
    width: 100%;
    background-color: #3a3838;
}
/* .parent{
    height: 100vh;
    width: 100vh;
}
.card11{
  width: 300px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
  margin: 20px 20px;
}
.card1 img{
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}
.card1 p{
  margin: 20px 0;
}
.card1 button{
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
} */
.card1{
    height: 400px;
    width: 300px;
    background-color: #6d6d6d;
    border-radius: 30px;
    margin: 25px;
}
 
 .parent{
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card1{
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card1 .top{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top img{
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 3px;
  object-fit: cover;
}
.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #8b8b8b;
}


.center{
}

.center h3{
  font-size: 16px;
  font-weight: 500;
}
.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #aeaeae;
}

.center h2{
  font-size: 21px;
  font-weight: 500;

}
.center .tag{
  display: flex;
  margin-top: 10px;
  gap: 5px;
}
.center .tag h4{
  font-size: 10px;
  background-color: #e4e4e4;
  color: #202020;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 3px;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #d7d7d7ce;
  padding-top: 15px;
}

.bottom button{
  background-color: rgb(18, 18, 18);
  color: white;
  padding: 7px 16px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  column-width: 600;
}

.bottom h3{
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 4px;
}
.bottom p{
  font-size: 10px;
  color: #8b8b8b;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #222;
  color: white;
}

.logo {
  margin: 0;
  font-size: 22px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-links li:hover {
  color: #00adb5;
}
